/* setTimeout(()=>{debugger;},5000) */
/* *{ scrollbar-width: thin; scrollbar-color: black white } */


body, html{ padding: 0 !important; margin: 0 !important}
*, :after, :before { box-sizing: border-box}

:root {
    --side-navigation-bgc: rgba(31,41,55,1);
    --page-bg-color : #f5f8fb;
    --page-navigation-bar-width :60px;
    --sidebar-bg-color: rgba(31,41,55,1);
}

#dash-page-container {
    width: 100% !important;
    background-color: var(--page-bg-color );
    overflow: hidden;
}

#dash-page-navigation-bar {
    padding-top: 10px;
    background-color: var( --side-navigation-bgc);
    height: 100vh !important;
    width:var(--page-navigation-bar-width);   
    position: fixed;
}

.pages-sidebar-links {
    display: flex;
    justify-content: center;
    align-items: center !important;
    height: 55px;
}

.hovered-link:hover, .hovered-link:active, .hovered-link:focus{
    background-color: #374151;
}

.plotly-logo{
    position: fixed;
    bottom: 12px;
    left: 10px;
}

#home, #analytics, #archive{
    margin-left: var(--page-navigation-bar-width);
}

.sidebar-style{
    border-left: 3px  solid rgb(30, 29, 29);
    background-color: var(--sidebar-bg-color);
}
